* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #f40005;
    border-bottom: 4px solid black;
    padding: 30px;
    text-align: center;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2020/03/20/09/22/motorsport-4950078_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.slider-wrapper {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    border: 6px solid #f40005;
    border-radius: 2px;
    position: relative;
}

.prev {
    float: left;
    width: 5%;
    height: 100%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev:hover {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
}

.photos {
    float: left;
    width: 90%;
    height: 100%;
    background-color: grey;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos img {
    width: 100%;
    display: none;
}

.photos .active {
    display: inline-block;
}

.next {
    float: left;
    width: 5%;
    height: 100%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next:hover {
    background-color: darkgrey;
    color: white;
    cursor: pointer;
}

.img-selector {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.fa-circle {
    color: lightgrey;
    margin: 0px 3px 8px 3px;
}

.fa-circle:hover {
    color: darkgrey;
    cursor: pointer;
}

.active-dot {
    color: blue;
}
